<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    if token
        <p>You are loged In!!!</p>
        <button type="button" id="btnRepositories">Show repositories</button>
        <div id="repositories">
            <ul id="list-repository">
            </ul>
        </div>
    else
        <p>This is an example to connect OAuth2 to github. #{randomHash}</p>
    
    <script src="jquery.min.js"></script> 
</body>
    script.
        $(document).ready(function(e){
            $("#btnRepositories").click(function(){
                $.getJSON("user/repository/all",function(data){
                    $("#list-repository").empty();
                    data.forEach(repo =>{
                        $("#list-repository").append(`<li>${repo.name}</li>`);
                    });
                });
            })
        });
</html>